body {
  background: #00CC66;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #336633;
  color: white;
}

@font-face {
  font-family: Ostrich;
  src: url(ostrich-sans-rounded.woff)
}

.centered {
  margin: auto;
  position: absolute;
  width: 800px;
  height: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: Ostrich;
  font-size: 100px;
}
